<div>payment</div>

<div>
    <!-- <div><span>人数</span><input type="number" value="payment.MemberCount" [ngModel]="payment.MemberCount"></div> -->
    <div>
        <span>合計金額</span>
        <input type="number" value="payment.TotalPay" [ngModel]="payment.TotalPay">
    </div>
    <div>
        <input type="button" value="送信" (click)="onClick()">
    </div>
    <div>
        <table>
            <tr>
                <td>
                    名前
                </td>
                <td>
                    金額
                </td>
            </tr>
            
        </table>
    </div>
</div>